:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --roboto: "Roboto", sans serif;
  --raleway: "Raleway", sans serif;
}
/* Proje Req */
img {
  display: block;
}
/* < Header area / Navbar / Address  Logo
 Başlık alanı / Gezinme çubuğu / Adresleyici > */
.logo-link {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.logo-span {
  color: var(--navyblue);
}
.logo-span-footer {
  color: var(--cloud);
}
.navbar-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
}
.navbar-link:hover {
  color: var(--ocean);
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
.header {
  border-bottom: 1px solid;
  border-color: var(--cornflower);
}

/* < Body / Section > */

.feature .ourteam-section .ourportfolio-section {
  padding: 120px 0;
}
body {
  font-family: var(--roboto);
}
* {
  font-family: inherit;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.p-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.p-footer-content {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ourteam-section {
  background-color: var(--cloud);
}
/* UL-Li List  */
.li-our-team {
  background-color: var(--white);
}
/* < Titles / Başlıklar > */
.hone-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
}
.h2-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}
.h3-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

/* < Butonlar / Buttons > */
button {
  cursor: pointer;
  display: block;
}
.button-item {
  background-color: var(--iris);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--ocean);
}
/* Footer */
.thefooter {
  background-color: var(--navyblue);
}
/* Display Css Part */
.header-container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar-ul {
  display: flex;
  gap: 40px;
}
